<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jobox Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <!-- Your header content goes here -->
    </header>

    <main>
        <!-- Your main content goes here -->
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>

    <!-- Popup HTML -->
    <!-- <div id="popup" class="popup"> -->
        <!-- <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2>Welcome to Job Anlista Premium!</h2>
            <p>Unlock advanced features, including our Smart Resume Analyzer for personalized job recommendations.</p>
            <a href="http://localhost:8501/" target="_blank" class="glow">Explore Smart Resume Analyzer</a>
        </div> -->
    <!-- </div> -->

    <!-- JavaScript for Popup -->
    <!-- <script>
        // Function to show the popup after a delay
        function showPopup() {
            setTimeout(function () {
                document.getElementById('popup').style.display = 'block';
            }, 1000); // 5000 milliseconds = 5 seconds
        }

        // Function to close the popup
        function closePopup() {
            document.getElementById('popup').style.display = 'none';
        }

        // Call showPopup() to display the popup after the delay
        showPopup();
    </script> -->
</body>
</html>
